<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarMedico( input.value )" type="text" class="form-control" placeholder="buscar hospital">
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary" [routerLink]="['/medico', 'nuevo']">
                        <i class="fa fa-plus"></i>
                        Crear Medico
                    </button>
                </div>

                <h3 class="card-title">Medicos registrado ( <small>{{medicoService.totalMedicos}}</small> )</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Medico</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let m of medicos">
                            <th> <img [src]="m.img | imagen:'medico'" class="img-50 img-circle"> </th>
                            <th>{{m.nombre}}</th>
                            <th>{{m.hospital.nombre}}</th>
                            <th>
                                <button class="btn btn-primary" [routerLink]="['/medico', m._id]"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger" (click)="borrarMedico(m)"><i class="fa fa-trash-o"></i></button>
                            </th>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>